body{background-color: rgba(18, 59, 44, 0.879);
    font-family:cooper;
}

p{
    font-size: 36px;
}

h5{
    font-size: 60px;
    text-decoration: underline;
}

li{
    font-size: 48px;
}
hr{
    background-color: white; 
    color: white;
    height: 2px;

    border: 0;
}

.briefs{
    font-size: 50px;
}   
#logo{
    text-decoration: none;
    color: rgba(237, 226, 73, 0.931);
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
    position: relative;
    margin-bottom: 200px;
}



#buttonbox{
    float: right;
    overflow: hidden;
    margin: 3px;
}
.mButton{
    text-decoration: none;
    color: rgba(242, 181, 181, 0.678);
   text-shadow: 2px 2px 2px black;
    position: relative;
    font-size: 40px;
    
    
}
 .mButton:hover{color:red;}

img{
    width: 250px;
    height: 300px;
}
.section{
    margin:0 auto;
    color: rgb(138, 135, 112);
    width: 1100px;
    position: relative;
    top: 50px;
    overflow:hidden;

}

@media screen and (max-width : 767px) {
    body{
        width: auto;
        margin: 0 auto;
        
    }
    
    #logo{
        font-size: 42px;
        margin-bottom: 30px;
    }
 
    
    .mButton{
        font-size: 20px;
    }

    #buttonbox{
        float: left;
    }
    .section{
        width: 700px;
        margin-left: 33px;
    }

    .briefs{
        font-size: 36px;
    }

    h5{
        size: 32px;
    }
}
